* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav {
  margin-top: 1rem;
  width: 100%;
  display:flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
}
nav .container{
  display: inline-flex;
  width: 460px;
  padding: 0.7rem;
  border-radius: 30px;
    background-color:#493F3F ;
    justify-content: center;
}
 nav .item a{
  font-weight: 600;
  text-decoration: none;
  color:#ffff;
  margin-left:20px ;
 }
nav .title span{
  color:#ffff;
  margin-right: 25px;
}

nav .container .item a:hover{
  color:red;
} 